*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0px;
}

body {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    background-color: white;
}

main {
    color: white;
    font-size: 1rem;
}

footer {
    background-color: white;
    padding: 3px;
}

.game-outer-container {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
}

.game-main-container {
    width: 33vw;
}

.game-question-container {
    margin: auto;
    text-align: center;
    line-height: 2;
}

.game-answer-buttons-container {
    flex-basis: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 0.5rem;
}

.game-right-container {
    font-size: 0.75rem;
}

.game-button {
    display: flex;
    background-color: white;
    font-weight: bold;
    justify-content: center;
    cursor: pointer;
    flex-grow: 1;
    aspect-ratio: 1/1.25;
}

.game-button:hover {
    background-color: skyblue;
}

.game-button:hover:active {
    background-color: magenta;
}

.game-button-text {
    color: black;
    align-self: flex-end;
    margin-bottom: 0.2rem;
}

.game-time-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.game-time-bar-title-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.game-time-bar-title-html {
    font-size: 0.75rem;
    margin-bottom: 0.1rem;
}

.game-time-bar-outer {
    background: transparent;
    width: 100%;
    height: 1rem;
    border: 1px solid white;
    margin-bottom: 0.5rem;
}

.game-time-bar-inner {
    width: 50%;
    height: 100%;
    background-color: whitesmoke;
}

footer {
    margin-top: 2rem;
}